@use "../variables" as v;
@import "../mixin";

#administration{
	h6{
		font-size: 2rem;
	}
	.title-wrap{
		text-align: center;
	}
	.box-admin{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-basis: 15%;
		padding: 2rem;
		row-gap: 0.5rem;
	}
	.box-container{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 3rem;
	}
	.btn-delete{
		color: v.$color-lightblack;
		font-size: 1.5rem;
		padding: 1rem;
		background-color: v.$color-red;
		&:hover{
			background-color: v.$color-hardred;
		}
	}
}