@use "../variables" as v;
@import "../mixin";

#footer {
	border:v.$border-classic;
	box-shadow: v.$box-lightshadow;
	background-color: $color-hardwhite;

	height: 22rem;
	max-width: 100vw;
	flex-shrink: 0;
	color: v.$color-default;
	padding: 0;
	.network-wrap{
		display: flex;
		flex-direction: column;
		row-gap: 1rem;
		ul{
			display: flex;
			column-gap: 2rem;
			font-size: 3rem;
		}
	}
	.wraps {
		padding: 2rem;
	}
	.content-container{
		display: flex;
		column-gap: 10rem;
	}
}