.user-description {
    .user-description-content{
        .description {
            
            &.expand {
                -webkit-line-clamp: 5; // nombre de ligne affiché 
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
        
    
            }
        }
    } 
}