.user-description {
    .user-description-content{
        .description {
            max-height: 0;
            overflow: hidden;
            display: inline-block;
            &.expand {
                max-height: 50rem;
                transition: max-height 1s;
    
    
            }
        }
    } 
}