.photo-gallery{
    .main-photo{
        height: 100%;
        width: 100%;
        border-radius: 5%;
        overflow: hidden;
        margin: 0 auto;
        transition: transform 0.2s;
        padding: 1rem;
        &:hover {
            transform: scale(1.1);
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            
        }
    }
    .sub-photo{
        width: 100%;
        height: 100%;
        border-radius: 5%;
        overflow: hidden;
        margin: 0.5rem 0.3rem;
        transition: transform 0.1s;
        padding: 1rem;
        &:hover {
            transform: scale(1.1);
        }
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}