@use "reset";
@use "variables" as v;
@import "mixin";

#check, #login {
    height: 60vh;
    @include flexbox(center,center,column);
    .form-modify{
        display: flex;
        align-items: center;

    }


}

  