@use "reset";
@use "variables" as v;
@import "mixin";

#login {
    .wraps{
        display: flex;
        column-gap: 1rem;
    }
    h3{
        font-size: v.$font-big;
    }
    form{
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
    }
    .form-sub{
        display: flex;
       column-gap: 3rem;
    }
    .box-wrap{
        display: flex;
        flex-direction: column;
        flex-basis: 45%;
        padding: 3rem 4rem;
    }
}