@import "variables";


@mixin flexbox($align, $justify,$direction){
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
}


@mixin homebox($width,$height,$radius,$border,$color,$shadow,$margin,$padding,$flex-basis,$font-size-title,$font-size-p,$min-height,$min-width){
    width: $width;
    height: $height;
    border-radius: $radius;
    border:$border;
    background-color: $color;
    box-shadow: $shadow;
    margin: $margin;
    padding: $padding;
    flex-basis: $flex-basis;
    min-height: $min-height;
    min-width: $min-width;
    h6{
        font-size: $font-size-title;

    }
    p{
        font-size:$font-size-p
    }
}