// font responsive
$font-xsmall:calc(0.75rem + 0.3vw);
$font-small: calc(0.85rem + 0.3vw);
$font-lsmall: calc(1rem + 0.3vw);
$font-xsmedium: calc(1.1rem + 0.3vw);
$font-smedium: calc(1.2rem + 0.3vw);
$font-medium: calc(1.3rem + 0.3vw);
$font-xmedium: calc(1.4rem + 0.3vw);
$font-large: calc(1.5rem + 0.3vw);
$font-xlarge:calc(1.6rem + 0.3vw);
$font-xxlarge:calc(1.7rem + 0.3vw);
$font-big:calc(1.85rem + 0.3vw);
$font-xbig:calc(2.5rem + 0.3vw);
$font-ultra:calc(3.5rem + 0.3vw);
$font-mega:calc(4.2rem + 0.3vw);

// font type
$font-default: 'DM Sans', sans-serif;

// colors
$color-default: #2f2f2f;
$color-darkgrey: #333333;
$color-lightblack: #262626;
$color-faded-grey: #464646e6;
$color-faded-lightgrey: #686868;
$color-gold: #fab804;
$color-grey: #696969;
$color-lightblue: #6bc5f8;
$color-blue: #5f7ce1;
$color-greenlight: rgb(49, 191, 153);
$color-lightpurple: #ca31f0;
$color-purple: #8000ff;
$color-white: #f0f0f0;
$color-hardwhite: rgb(250, 250, 250);
$color-lightwhite: #bfbfbf9b;
$color-verywhite: rgb(247,247,247);
$color-red: rgb(240, 97, 107);
$color-hardred: rgb(221, 59, 70);

// Colors box
$color-boxsvg: #262626;
//  colors-background
$background-main-color: #f4f4f4;
$background-second-color: #f3d769;
$background-box-white: rgba(243, 243, 243, 0.804);
$background-box-black: rgba(38, 38, 38, 0.834);

// Gradient
$background-gradient: linear-gradient(0deg, rgba(98,102,227,1) 0%, rgba(95,124,225,1) 100%);

// styling
$border-classic : 0.2px #e0e0e083 solid;
$border-white : 0.2px #e0e0e0c1 solid;
$border-hard : 0.5px #3232321b solid;
$box-shadow : 0 10px 15px -3px #0000001a, 0 4px 6px -4px #e0e0e01a;
$box-shadow-white : 0 10px 15px 2px #e6e6e628, 0 4px 6px 2px #3030302a;
$box-lightshadow : 0 5px 5px -3px #cdcdcd4d, 0 4px 3px -4px #d2d2d24d;

// media querries
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
