@use "reset";
@use "variables" as v;
@import "mixin";
@import "questions-page";
@import "contact-page";
@import "check-page";
@import "login-page";
@import "register-page";
@import "users-page";
@import "preloader";

// Globales
a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;

}

// Container sur toutes les pages pour limités la taille de la page en largeur

.container {
	padding: 0;
	margin: 0 auto;
	max-width: 40rem;

	@media screen and (min-width : v.$md-breakpoint ) {
		max-width: 70rem;
	}

	@media screen and (min-width : v.$lg-breakpoint ) {
		max-width: 130rem;
	}
}



// élément en inline pour affiché les texte en ligne

.inline-text {
	display: inline;
}

.inline-block {
	display: inline-block;
}

// Hauteur de lignes 

.line-height {
	line-height: 3rem;
}

// div de titre sur toutes les pages.

.title-wrap {
	text-align: center;
	margin: 1rem 0;

	@media screen and (min-width : v.$lg-breakpoint ) {
		text-align: left;
	}
}

// Les liens basique sur les balises <p>

.basic-link {
	cursor: pointer;

}

// Les liens basique sur les span

.span-link {
	cursor: pointer;
	color: blue;
}

// Texte clair

.light-text {
	color: v.$color-grey;
}

// Première div pour disposer les éléments en dessous du header

.block {
	margin-top: 5rem;
}

// Style pour les boutons basique
.btn {

	color: rgb(34, 34, 34);
	font-size: 1.8rem;
	border: 0;
	padding: 1rem 1.5rem;
	border-radius: 1rem;
	border: 1px solid rgba(255, 255, 255, 0.393);
}

// Bouton modifer sur formulaires
.btn-modify{
	border: 1px solid rgba(0, 0, 0, 0.333);
	padding: 0.8rem 1rem;
}

// Bouton valider

.btn-submit {
	background: v.$background-gradient;
	color: v.$color-white;

}

// bouton détails

.btn-read {
	background-color: v.$color-white;
	font-size: 1.5rem;
	color: v.$color-faded-grey;
	border: 1px solid v.$color-faded-grey;
}

// Les box blanche et noir 
.box-white {
	box-shadow: v.$box-shadow;
	border: v.$border-classic;
	border-radius: 1.5rem;
	background-color: v.$background-box-white;
}

.box-black {
	box-shadow: v.$box-shadow-white;
	border: v.$border-classic;
	border-radius: 1.5rem;
	background-color: v.$background-box-black;
	color: white;
}

.box-style {
	background-color: v.$color-hardwhite;
	border: v.$border-hard;
	border-radius: 1rem;
}

// Les div de groupe de formulaire et les label

.form-group {
	position: relative;
}

.foot-wrap {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.form-wrap {
	width: 100%;
}

.email-input {
	display: flex;
	align-items: center;

	height: 6rem;
	padding: 1rem;
	font-size: 1.8rem;
}

.form-sub {
	display: flex;
	margin: 2rem 0;
}

.input-base {
	font-size: 1.7rem;
	color: v.$color-lightblack;
	width: 34rem;
	height: 5.5rem;
	border-radius: 0.6rem;
	border: v.$border-hard;
	outline: none;
	padding: 1rem;
	background-color: rgb(247, 247, 247);
}

.form-group label {

	position: absolute;
	top: 50%;
	left: 15px;
	transform: translateY(-50%);
	color: v.$color-grey;
	font-size: 19px;
	pointer-events: none;
	transition: 0.3s;
}
.form-modify{
	display: flex;
	align-items: center;
}

.input-base:focus~label,
.input-base:valid~label {
	top: 0;
	left: 15px;
	background:transparent;
}

#header.scrolled {
	background: transparent;
	position: fixed;
	animation: header forwards 0.5s ease-in-out;
	

}

#header.inactive {
	display: none;
}

@keyframes header {
	 0%{
		opacity: 0;
	 }
	 100%{
		opacity: 1;
	 }
}
#header {
	
	width: 95vw;
	top: 0;
	transition: all 0.2s ease-in-out;

	img {
		width: 7.5rem;
	}

	.wraps {
		display: flex;
		align-items: center;
		column-gap: 3rem;
		font-size: 2rem;
		justify-content: space-between;

	}

	.left-wrap {
		display: flex;
		align-items: center;
		column-gap: 2rem;
	}

	ul {
		display: flex;
		column-gap: 2rem;
		font-size: 1.72rem;
	}
}

#home {
	height: 200vh;
}

#footer {
	position: relative;
	bottom: 0;
	right: 0;
	max-width: 100vw;
	margin: 0;
	padding: 0;
}