@use "reset";
@use "variables" as v;
@import "mixin";
@import "questions-page";
@import "contact-page";
@import "login-page";
@import "preloader";

// Globales
a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;

}

.container {
    padding: 0;
    margin: 0 auto;
    max-width: 50rem;

    @media screen and (min-width : v.$md-breakpoint ) {
        max-width: 70rem;
    }

    @media screen and (min-width : v.$lg-breakpoint ) {
        max-width: 130rem;
    }
}

.input-base{
    width: 85%;
    font-size: 1.6rem;        
    border : 1px solid rgba(0, 0, 0, 0.261);
    padding: 1.1rem;
    border-radius: 1.2rem;
    background-color: rgba(255, 255, 255, 0.486);
}

.inline-text {
    display: inline;
}

.title-wrap {
    text-align: center;

    @media screen and (min-width : v.$lg-breakpoint ) {
        text-align: left;
    }
}

.span-link {
    cursor: pointer;
    color: blue;
}

.block {
    margin-top: 14rem;
}

.btn {
    font-size: 1.6rem;
    width: 12rem;
    border: 1px solid rgba(0, 0, 0, 0.148);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

.btn-submit {
    background-color: v.$color-blue;
    color: v.$color-white;
}
.box-white{
    box-shadow: v.$box-shadow;
    border: v.$border-classic;
    border-radius: 1.5rem;
    background-color:v.$background-box-white;
}
.box-black{
    box-shadow: v.$box-shadow-white;
    border: v.$border-classic;
    border-radius: 1.5rem;
    background-color:v.$background-box-black;
    color: white;
}

#home {
    height: 120vh;
}

#header {
    min-width: 100vw;
    position: fixed;
    top: 0;
    img {
        width: 7.5rem;
    }
    .wraps {
        display: flex;
        align-items: center;
        column-gap: 3rem;
        font-size: 2rem;
 
    }
    ul{
        display: flex;
    }

    
    .inactive{
        visibility: hidden;
        opacity: 0;
    }
}

#footer {
    bottom: 0;
    left: 0;
    height: 15rem;
    width: 100vw;
}
