@use "reset";
@use "variables" as v;
@import "mixin";
@import "questions-page";

// Globales
a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;

}

.container {
    margin: 0 auto;
    max-width: 50rem;
    @media screen and (min-width : v.$md-breakpoint ) {
        max-width: 70rem;
    }
    @media screen and (min-width : v.$lg-breakpoint ) {
        max-width: 130rem;
    }
}

.block {
    margin-top: 4rem;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    .wraps {
        @include flexbox(center, space-between, row)
    }
}

#footer{
    bottom: 0;
    left: 0;
    height: 15rem;
}

#home {
    height: 100vh;
    @include flexbox(center, flex-start, row);

    .container {
        width: 100%;
    }
}